<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394333124247-94r5jav63lj2rg04a639vfv44i123cef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394333124247-94r5jav63lj2rg04a639vfv44i123cef</string>
	<key>API_KEY</key>
	<string>AIzaSyAhJDY1my_QqVeU3VnmEdC-aDCQZOvn_YU</string>
	<key>GCM_SENDER_ID</key>
	<string>394333124247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneconnect.walletv3</string>
	<key>PROJECT_ID</key>
	<string>blockchaindev-e50c8</string>
	<key>STORAGE_BUCKET</key>
	<string>blockchaindev-e50c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394333124247:ios:df53c65f3cb096f1</string>
	<key>DATABASE_URL</key>
	<string>https://blockchaindev-e50c8.firebaseio.com</string>
</dict>
</plist>